<h1> About the Word Counter </h1>

<p>
Word Counter:
   Basically counts the words which are present in the input text from the user and displays it back to the user.
<br/>
This word counter will give the total number of words present in the text and also the information about each single word as how many times it is repeated in the text.

<br/>
Note:
This word counter was thought by Nick from Udemy which was a very usefull course for a beginners to learn
</p>

<a href="{% url 'home' %}"> Home </a>
